header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D8CCA3;
    width: 100%;
}

.header_left_img {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logoImage {
    margin: 10px 0 10px 20px;
    width: 10%;
}

/* #header_left {
    margin: 10px;
} */

#header_left img {
    width: 70%;
}

.logoText {
    margin: 0;
    margin-left: -10px;
    width: 40%;
} 

/* .logoText img {
    width: 80%;
} */

.header_right {
    margin: 10px;
    font-size: 25px;
    font-weight: 550;
}

header a {
    color: #5a653d;
}

#header_right_recipe {
    box-sizing: border-box;
    border: 7px solid transparent;
    background-color: transparent;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 550;
    color: #5a653d;
    cursor: pointer;
}

#header_right_recipe:hover {
    text-shadow: #87805E;
    border-bottom: 7px solid #c7bd88;
}

#header_right_recipe:active {
    border-bottom: 7px solid #c7bd88;
  }
  
#header_account:hover {
    text-shadow: #87805E;
    border-bottom: 7px solid #c7bd88;
}

#header_account:active {
    border-bottom: 7px solid #c7bd88;
  }

.logoImage img:hover {
    transition: transform .7s ease;
    /* transform: rotate(3.142rad); */
    transform: rotate(2turn);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

