header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D8CCA3;
    width: 100%;
}

#header_left {
    margin: 10px;
    /* 
    font-size: 35px;
    font-weight: 600; */
}

#header_left img {
    width: 40%;
}

.header_right {
    margin: 10px;
    font-size: 25px;
    font-weight: 550;
}

header a {
    color: #5a653d;
}

#header_right_recipe {
    box-sizing: border-box;
    border: 7px solid transparent;
    background-color: transparent;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 550;
    color: #5a653d;
    cursor: pointer;
}

#header_right_recipe:hover {
    text-shadow: #87805E;
    border-bottom: 7px solid #c7bd88;
}

#header_right_recipe:active {
    border-bottom: 7px solid #c7bd88;
  }
  
#header_account:hover {
    text-shadow: #87805E;
    border-bottom: 7px solid #c7bd88;
}

#header_account:active {
    border-bottom: 7px solid #c7bd88;
  }
