.recipe_list {
    margin: 10px;
}

.recipe_list_component {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #dbcda0;
}

.recipe_list a {
    color: black;
}

@media screen and (max-width: 700px) {
    .recipe_list_component {
        grid-template-columns: 1fr 1fr;
    }
}