/* .singleRecipeCard {

} */

.recipe_container {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.information {
    padding: 10px;
    margin: 10px;
    width: 250px;
    background-color: #dbcda0;
}

.recipe_name {
    padding: 10px;
    margin: 10px;
    background-color: #dbcda0;
}

.recipe-image {
    margin: 10px;
}

.recipe-image img {
    width: 100%;
    margin: 10px;
    text-align:left;
    vertical-align:top;
}

.favourite_button {
    height: 2.3em;
    width: 5em;
    border-radius: 5px;
    color: #5a653d;
    background-color: transparent;
    cursor: pointer;
}

.favourite_button button {
    padding: 5px;
    color: #5a653d;
    font-size: 16px;
    font-weight: 500;
    border: 0.1px solid #87805E;
    cursor: pointer;
}
  
  /* .image > img {
    /* max-width: 100%;
    max-height: 300px;
  } */ 
  /* .container > .text {
    flex: 2 0 0%;
    /* and eventually */
/*     
    margin:auto 0;
  }  */
/* .recipe-image {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 120px; 
} */

