
.recipe_container {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.information {
    padding: 10px;
    margin: 10px;
    width: 250px;
    background-color: #dbcda0;
}

.recipe_name {
    padding: 10px;
    margin: 10px;
    background-color: #dbcda0;
}

.recipe-image {
    margin: 10px;
}

.recipe-image img {
    width: 100%;
    margin: 10px;
    text-align:left;
    vertical-align:top;
}

.favourite_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: #5a653d;
    background-color: transparent;
    cursor: pointer;
}

.favourite_button button {
    padding: 5px;
    color: #5a653d;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    font-weight: 550;
    border: 0.1px solid transparent;
    border-radius: 4px;
    background-color: rgb(135, 128, 94, 0.4);
    cursor: pointer;
}

.favourite_button button:hover {
    box-shadow: 2px 2px #706a4a;
}


.favourite_button p {
    font-size: 18px;
    font-weight: 550;
}
